
header {
    background-color: #333333;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background-color: #efeee7;
    font: "Georgia", "Times New Roman", Times, serif;
    color: #333333;
}

h1 {
    color: #eee;
    font-size: 28px;
   }

h2 {
    font-size: 24px;
    text-align: left;
}

.container {
    width: 1024px;
    text-align: center;
    margin: 0 auto;
}
#bio-image {
    float: left;
    margin-right: 20px;
}

#main-bio {
    width: 200px;
    float: left;
}
#contact-info {
    width: 300px;
    float: right;
    line-height: 150%;
    text-align: left;
}
p {
    width: 200px;
    float: left;
}
h3 {
    font-size: 24px;  
}

a {
    color: #d21034;
}

   